.Header{
    width: 95%;
    background-color: #2dc4ab ;
    color:white;
    padding:40px;
}
@media (max-width:800px){
    .Header{
        width: 100%;
    }
}
@media(max-width:599px){
    .Header{
        font-size: 1.5rem;
    }
}