.Filter{
    width: 95%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   background-color: #3F8FFF ;
   padding: 10px 0px;
   font-weight: bold;
}
.Filters{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

input, select{
    outline: none;
    border-radius: 0px 12px 12px 0px;
    border: none;
    padding:5px;
    width: 100%;
}
.button{
    width: 100px;
    border-radius: 12px;
    outline: none;
    border:none;
    font-weight: bold;
    background-color: white;
}
.button:hover{
    cursor: pointer;
    color:white;
    background-color: #3F8FFF;
    border: 2px solid white;
}
.Filter div{
    display: flex;
    height: 40px;
    align-items: stretch;
}
.Filter svg{
    background-color: white;
    color:#e6eaec;
    height: 100%;
    border-radius: 8px 0px 0px 8px;
    font-size: 20px;
    width: 100%;
}
.disabled{
    display:none;
}
.enabled{
    outline: none;
    border-radius: 20px;
    margin-bottom: 5px;
    border: 2px solid #3F8FFF;
    font-weight: bold;
    width: 200px;
    align-self: center;
    height: 40px;
    background-size: cover;
    background-color: white;
}
.enabled:hover{
    cursor: pointer;
    background-color:#3F8FFF ;
    border: 2px solid ;
    color:white;
}
.Filters div{
   width: 200px; 
}
@media (max-width:800px) {
    .Filter{
        width: 100%;
    }
    .Filters div{
        width: 100px;
    }
}
@media(max-width:500px){
    .Filters{
        font-size: 1.5rem;
    }
    .Filter .input{
        width: 60px;
    }
    .Filter .select{
        width: 40px;
    }
    input{
        width: 60px;
    } 
    select{
        width: 40px;
    }
}